# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Keras
5. Seaborn

|Data Science Tools|
|---|
|Jupyter Notebook|
|Apache Spark|
|Tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=60
minutes/hours

3.3333333333333335

__Objectives:__
* List popular languages in data sciecne. 
* List popular libraries in data sciecne. 
* Use different types of heading 
* Create markdown cells
* Evaluate expressions in Python

## Author
Marius Sava